@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(style.css);
@import url(menu_mobile.css);
header {
  background: #181818;
  padding: 24px 0; }
  header .container {
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .nav ul {
    display: flex;
    list-style: none;
    align-items: center; }
    header .nav ul li {
      margin-left: 32px; }
      header .nav ul li:first-of-type {
        margin-right: 24px; }
      header .nav ul li:first-of-type a {
        font-size: 13px; }
      header .nav ul li:last-of-type a {
        background: #FFFFFF;
        border-radius: 14px;
        padding: 11px 20px;
        color: #000000;
        font-size: 16px;
        letter-spacing: 0.4px; }
      header .nav ul li a {
        font-family: 'Poppins';
        font-style: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none; }

.container {
  max-width: 1200px;
  margin: auto; }

.main_banner {
  background-image: url("../images/IMAGE.jpg");
  background-size: cover;
  padding-bottom: 70px;
  padding-top: 460px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .main_banner .container h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px; }
  .main_banner .container h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
    padding-bottom: 18px; }
  .main_banner .container p {
    margin: auto;
    max-width: 580px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0; }

.help {
  background: #000000;
  padding-top: 113px;
  padding-bottom: 100px; }
  .help .container_help {
    max-width: 571px;
    margin: auto;
    text-align: center; }
    .help .container_help h2 {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 40px;
      line-height: 42px;
      text-align: center;
      color: #FFFFFF;
      font-weight: normal; }
    .help .container_help h3 {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      font-weight: normal;
      color: #C0C0C0;
      margin-top: 15px;
      margin-bottom: 22px; }
    .help .container_help a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      font-family: 'Poppins';
      font-style: normal;
      line-height: 20px;
      text-decoration: none;
      background: #FFFFFF;
      border-radius: 14px;
      padding: 11px 20px;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0.4px; }
      .help .container_help a .btn_read:before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 40%;
        background-color: #000000;
        margin-right: 6px; }

.bottom_icon {
  position: absolute;
  right: 40px;
  bottom: 41px;
  list-style: none;
  display: flex;
  align-items: center; }
  .bottom_icon li {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 16px; }
    .bottom_icon li:before {
      content: "";
      display: inline-block;
      background-image: url("../images/icon_1.svg");
      width: 16px;
      height: 16px;
      margin-right: 6px;
      position: relative;
      top: 7px; }
    .bottom_icon li:nth-child(2):before {
      background-image: url("../images/icon_2.svg"); }
    .bottom_icon li:nth-child(3):before {
      background-image: url("../images/icon_3.svg");
      width: 32px; }
    .bottom_icon li:nth-child(4):before {
      background-image: url("../images/icon_4.svg");
      width: 10px; }

.photo_1 {
  background-image: url("../images/IMAGE-1.jpg");
  background-size: cover;
  position: relative;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .photo_1 .container_photo_1 {
    max-width: 298px;
    margin-right: 62px; }
    .photo_1 .container_photo_1 h2 {
      font-weight: normal;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .photo_1 .container_photo_1 p {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0; }

.photo_2 {
  background-image: url("../images/IMAGE-2.jpg");
  background-size: cover;
  position: relative;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .photo_2 .container_photo_2 {
    max-width: 273px;
    margin-right: 87px; }
    .photo_2 .container_photo_2 h2 {
      font-weight: normal;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .photo_2 .container_photo_2 p {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0; }

.photo_3 {
  background-image: url("../images/IMAGE-3.jpg");
  background-size: cover;
  position: relative;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .photo_3 .container_photo_3 {
    max-width: 254px;
    margin-right: 106px; }
    .photo_3 .container_photo_3 h2 {
      font-weight: normal;
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .photo_3 .container_photo_3 p {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0; }

.specialized {
  padding-bottom: 84px;
  padding-top: 112px;
  background: #000000; }
  .specialized h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    margin-bottom: 15px; }
  .specialized h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    font-weight: normal;
    margin-bottom: 42px; }
  .specialized .specialized_container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .specialized .specialized_container .specialized_photo_1 {
      max-width: 576px;
      position: relative;
      margin-bottom: 16px; }
      .specialized .specialized_container .specialized_photo_1 .spec_1 {
        display: block;
        width: 100%; }
      .specialized .specialized_container .specialized_photo_1 .spec_text {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px; }
        .specialized .specialized_container .specialized_photo_1 .spec_text h4 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 10px; }
        .specialized .specialized_container .specialized_photo_1 .spec_text p {
          font-family: 'Poppins';
          font-style: normal;
          font-size: 14px;
          line-height: 20px;
          color: #C0C0C0;
          font-weight: normal;
          margin-bottom: 15px; }
        .specialized .specialized_container .specialized_photo_1 .spec_text a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          font-family: 'Poppins';
          font-style: normal;
          line-height: 20px;
          text-decoration: none;
          background: #FFFFFF;
          border-radius: 14px;
          padding: 11px 20px;
          color: #000000;
          font-size: 16px;
          letter-spacing: 0.4px; }

.tools {
  position: relative;
  background-color: black; }
  .tools .img_bg {
    width: 50%;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background-size: cover;
    background-image: url("../images/tools.jpg"); }
  .tools .container {
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 540px; }
  .tools .info {
    max-width: 514px; }
    .tools .info a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      font-family: 'Poppins';
      font-style: normal;
      line-height: 20px;
      text-decoration: none;
      background: #FFFFFF;
      border-radius: 14px;
      padding: 11px 20px;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0.4px; }
    .tools .info h4 {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #C0C0C0;
      font-weight: normal;
      margin-bottom: 6px; }
    .tools .info h3 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 32px;
      color: #FFFFFF;
      text-align: start;
      margin-bottom: 14px; }
    .tools .info p {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      text-align: start;
      margin-bottom: 20px; }

footer {
  padding: 100px 0;
  background-color: black;
  color: #FFFFFF; }
  footer .container {
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #FFFFFF;
    padding-bottom: 26px; }
    footer .container:last-of-type {
      border: none; }
  footer .right_sub-menu {
    display: flex;
    align-items: flex-start; }
    footer .right_sub-menu ul {
      list-style: none; }
      footer .right_sub-menu ul:first-of-type {
        margin-right: 55px; }
      footer .right_sub-menu ul:last-of-type {
        margin-right: 100px; }
  footer form {
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    max-width: 458px;
    width: 100%;
    height: 52px;
    padding: 11px 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px; }
    footer form .form-control {
      background-color: transparent;
      border: none;
      height: 30px;
      width: 80%;
      display: inline-block; }
    footer form button {
      background-color: black;
      height: 30px;
      border: none;
      border-radius: 11px;
      width: 63px;
      cursor: pointer; }
  footer .left_logo img {
    margin-bottom: 20px; }
  footer .left_logo p {
    font-family: 'Poppins';
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    font-weight: normal;
    text-align: start;
    margin-bottom: 36px; }
  footer .left_logo p {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0; }
  footer .left_logo h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: normal;
    margin-top: 36px;
    margin-bottom: 20px; }
  footer .right_sub-menu li {
    margin-bottom: 10px; }
    footer .right_sub-menu li:first-of-type {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #C0C0C0; }
  footer .right_sub-menu a {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none; }
  footer .container_social {
    margin: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    margin-top: 56px; }
    footer .container_social ul {
      list-style: none;
      display: flex;
      justify-content: center; }
    footer .container_social a {
      margin-left: 20px; }

.past_clients {
  padding-top: 113px;
  padding-bottom: 169px;
  background: #000000; }
  .past_clients .container_clients {
    max-width: 1076px;
    margin: auto;
    text-align: center; }
    .past_clients .container_clients h4 {
      font-family: 'Poppins';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #C0C0C0;
      margin-bottom: 82px; }
    .past_clients .container_clients h3 {
      font-family: 'Poppins';
      font-weight: normal;
      font-style: normal;
      font-size: 40px;
      line-height: 42px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 15px; }
    .past_clients .container_clients .clients_logo {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .past_clients .container_clients .clients_logo a {
        max-width: 128px;
        display: inline-block; }

.owl-item {
  text-align: center; }

.owl-stage {
  display: flex;
  align-items: center; }

.owl-nav .owl-prev {
  position: absolute;
  left: -10px;
  top: 30px; }
.owl-nav .owl-prev:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  color: #FFFFFF;
  font-size: 30px; }
.owl-nav .owl-next {
  position: absolute;
  right: -10px;
  top: 30px; }
.owl-nav .owl-next:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f053";
  color: #FFFFFF;
  font-size: 30px;
  transform: rotate(180deg);
  display: inline-block; }

.ui-dialog {
  background-color: black; }

.ui-dialog-titlebar {
  background-color: black;
  color: #FFFFFF; }

.ui-dialog-content {
  color: #FFFFFF; }

.logo {
  position: relative;
  z-index: 3; }
