*{
    padding: 0;
    margin: 0;
}
header{
    background: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header .container{
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 460px;
    position: relative;
}
.secondary_caption{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.main_caption{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
    padding-bottom: 18px;
}
.main_text{
    margin: auto;
    max-width: 580px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.help{
    background: #000000;
    padding-top: 113px;
    padding-bottom: 100px;
}
.container_help{
    max-width: 571px;
    margin: auto;
    text-align: center;
}
.help_question{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
}
.help_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    color: #C0C0C0;
    margin-top: 15px;
    margin-bottom: 22px;
}
.btm_help{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.help_img{
    margin-right: 6px;
}
.main_banner .bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    list-style: none;
    display: flex;
    align-items: center;
}
.main_banner .bottom_icon li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 16px;
}
