*{
    padding: 0;
    margin: 0;
}
header{
    background: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: inherit;
}
header .container{
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 460px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.container h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
    padding-bottom: 18px;
}
.container p{
    margin: auto;
    max-width: 580px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.help{
    background: #000000;
    padding-top: 113px;
    padding-bottom: 100px;
}
.container_help{
    max-width: 571px;
    margin: auto;
    text-align: center;
}
.container_help h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
}
.container_help h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    color: #C0C0C0;
    margin-top: 15px;
    margin-bottom: 22px;
}
.container_help a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.help_img{
    margin-right: 6px;
}
.bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    list-style: none;
    display: flex;
    align-items: center;
}
.bottom_icon li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 16px;
}
.bottom_icon li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 7px;
}
.bottom_icon li:nth-child(2):before{
    background-image: url("../images/icon_2.svg");
}
.bottom_icon li:nth-child(3):before{
    background-image: url("../images/icon_3.svg");
    width: 32px;
}
.bottom_icon li:nth-child(4):before{
    background-image: url("../images/icon_4.svg");
    width: 10px;
}
.photo_1{
    background-image: url("../images/IMAGE-1.jpg");
    background-size: cover;
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container_photo_1{
    max-width: 298px;
    margin-right: 62px;
}
.container_photo_1 h2{
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.container_photo_1 p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.photo_2{
    background-image: url("../images/IMAGE-2.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container_photo_2{
    max-width: 273px;
    margin-right: 87px;
}
.container_photo_2 h2{
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.container_photo_2 p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.photo_3{
    background-image: url("../images/IMAGE-3.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container_photo_3{
    max-width: 254px;
    margin-right: 106px;
}
.container_photo_3 h2{
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.container_photo_3 p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.specialized{
    padding-bottom: 84px;
    padding-top: 112px;
    background: #000000;
}
.specialized h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    margin-bottom: 15px;
}
.specialized h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    font-weight: normal;
    margin-bottom: 42px;
}
.specialized_photo{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
.specialized_photo_1{
    max-width: 576px;
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
}
.spec_text{
    position: absolute;
    width: 100%;
    left: 30px;
    bottom: 30px;
}
.spec_text h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.spec_text p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    font-weight: normal;
    margin-bottom: 15px;
}
.spec_text a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.spec_1{
    display: block;
    width: 100%;
}
